.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background-color: var(--color-4);
  color: var(--color-1);
}

.linkWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 10px;
}

.linkWrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linkWrapper ul li {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

.linkWrapper li i {
  margin-right: 5px;
}

.linkWrapper a {
  color: #fff;
}

.linkWrapper h5 {
  margin-bottom: 20px;
}


.copyRight {
  padding: 20px 0;
  text-align: center;
  margin: 0;
  font-size: .8rem;
  background-color: var(--color-5);
}