.container {
  position: relative;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.display {
  opacity: 1;
  visibility: visible;
}

.none {
  display: none;
}

.main {
}

.carouselWrapper {
  width: 100%;
  margin: auto;
}



.modalWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  transition: all 0.3s linear;
}

.modalCover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 98;
}

.socialBarContainer {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 10;
}

.backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 3em;
  z-index: 3;
}


.backToTop:hover i {
  color: #17b978;
}
