.questionsContainer {
    padding: 40px 0;
}

.boxWrapper {
    padding: 30px;
    box-shadow: 0 0 10px 0 #ddd;
    position: relative;
    background-color: #fff;
    margin: 40px 0;
}

.boxWrapper dt {
    border-bottom: 1px #f7f7f7 solid;
    position: relative;
    z-index: 2;  
    background-color: #fff;
    padding: 10px 0;
}

.boxWrapper dd {
    transition: all .1s linear; 
    padding: 10px 0;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.show {
    visibility: visible;
    opacity: 1;
    height: 70px;
    transform: translateY(0);
    
}

.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transform: translateY(-50px);
}

.boxWrapper i {
    transition: all .3s linear;
    margin-right: 5px;
}

.up i {
    transform: rotate(-180deg);
}

.down {

}

